/* NavLock toolbar button styling */

#navlock-button[navlock-active="false"] {
  list-style-image: url(chrome://navlock/content/wheel24.png);
}

#navlock-button[navlock-active="true"] {
  list-style-image: url(chrome://navlock/content/wheel24-lock.png);
}

checkbox image.checkbox-check {
  appearance: checkbox;
  -moz-appearance: checkbox;
}

checkbox[checked="true"] image.checkbox-check {
  appearance: checkbox;
  -moz-appearance: checkbox;
  /* this was key to make the check mark visible: */
  /*list-style-image: url(chrome://global/skin/checkbox/cbox-check.gif);*/
}
