@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* NavLock toolbar button styling */

/* Toolbar: inactive state (default) */
toolbox toolbar[iconsize=small] #navlock-button[navlock-active="false"] {
  list-style-image: url(chrome://navlock/content/wheel16.png);
}

/* Toolbar: active state */
toolbox toolbar[iconsize=small] #navlock-button[navlock-active="true"] {
  list-style-image: url(chrome://navlock/content/wheel16-locked.png);
}

/* Toolbar: inactive state (default) */
toolbox toolbar[iconsize=large] #navlock-button[navlock-active="false"] {
  list-style-image: url(chrome://navlock/content/wheel24.png);
}

/* Toolbar: active state */
toolbox toolbar[iconsize=large] #navlock-button[navlock-active="true"] {
  list-style-image: url(chrome://navlock/content/wheel24-locked.png);
}

checkbox image.checkbox-check {
  appearance: checkbox;
  -moz-appearance: checkbox;
}

checkbox[checked="true"] image.checkbox-check {
  appearance: checkbox;
  -moz-appearance: checkbox;
  /* this was key to make the check mark visible: */
  /*list-style-image: url(chrome://global/skin/checkbox/cbox-check.gif);*/
}
